@tailwind base;
@tailwind components;
@tailwind utilities;

.bgwhiteg {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.shop {
  background: #ffeee9;
  border-radius: 20px;
}
.heading {
  color: #0a033c;
  font-weight: 600;
  font-size: 45px;
}
.sub-route {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 10px;
}

.hover\:shadow-xs:hover {
  --tw-shadow: 0px 2px 10px 0px #0000001e;
  --tw-shadow-colored: 0px 2px 10px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.\!text-black-900_87 {
  color: #00000087 !important;
}
.\!text-deep_orange-400_87 {
  color: #ff665287 !important;
}
.\!font-metropolis {
  font-family: Metropolis !important;
}

.bg-deep_orange-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 102 82 / var(--tw-bg-opacity));
}
.\!font-airbnbcerealapp {
  font-family: Airbnb Cereal App !important;
}
.text-deep_orange-400 {
  --tw-text-opacity: 1;
  color: rgb(255 102 82 / var(--tw-text-opacity));
}
.shadow-custom {
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3); /* x-offset, y-offset, blur, color */
}
.bg-black-900_cc {
  background-color: #000000cc;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
